/* Work Experience Section CSS */
.work-experience-container {
  width: 100%;
  margin: 0px auto;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .custom-prev,
  .custom-next {
    background: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .custom-prev {
    left: 45px;
  }

  .custom-next {
    right: 45px;
  }
  .slick-dots::before {
    font-size: 10px;
  }

  .slick-slide > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* optional: ensures full height if parent is constrained */
    text-align: center;
  }
  .work-experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img {
      max-width: 150px;
    }
  }
  li {
    text-align: left;
    font-size: 1.2rem;
  }
  .pad2emTop {
    padding-top: 2em;
  }
  .pad2emBot {
    padding-bottom: 2em;
  }
  .pad2emTopBot {
    padding: 2em 0;
  }
  .marg1emTop {
    margin-top: 1em;
  }
  .marg2emTop {
    margin-top: 2em;
  }
  .marg2emBot {
    margin-bottom: 2em;
  }
  .marg1emTopBot {
    margin: 1em 0;
  }
}
